:root{
    --primary:#F3F4ED;
    --secondary: #536162;
    --tertiary: #424642;
    --contrast: #C06014;
    --dark: black;
}

main{
    background-color: var(--secondary);
    padding:15px;
}

h1{
    margin-top:0px;
    color:var(--contrast);
}