
.project{
    border:4px solid #424642;
    background-color:#F3F4ED;
    margin:10px;
    width:40%;
    position:relative;   
}
.project:hover{
    cursor:pointer;
}
.projectImg{
    width:100%;
    opacity:.2;
}
.projectImg:hover{
    opacity:1;
}
.projectOverlay{
    position:absolute;
    bottom:5%;
    padding:5px;
    background-color:#424642;
    color:#C06014;
    /*width:15vw;*/
    
}
.projectOverlay>h2{
    font-size:3vw;
}